#stacked_bar_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
    background-color: #d3d3d3;
	/*height: 1000px;
	width: 800px;*/
}

#line {
    top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
    background-color: #d3d3d3;
	/*height: 1000px;
	width: 800px;*/
}


#heat {
    top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
    background-color: #d3d3d3;
	/*height: 1000px;
	width: 800px;*/
}
#map{
    background-color: #d3d3d3;
    top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
    background-color: #d3d3d3;
	/*height: 1000px;
	width: 800px;*/
}

#body {
    background-color: #d3d3d3;
}

#title {
    position: center;
}